<tabla 
    [datos]="Datos" 
    [paginador]="true" 
    [filtros]="true" 
    [simple]="true"
    [configuracion]="Configuracion" 
    (evento)="Evento($event)"
    (tabla)="ConfigurarTabla($event)"
    (accion)="Accion($event)"
></tabla>

<add (add)="Agregar()"></add>