<h1 mat-dialog-title>Grupo</h1>
<div mat-dialog-content>
  <formulario 
    [form]="BCAForm" 
    [controles]="BCAControles"
    (enviar)="Submit($event)"
    [predems]="DialogDatos"
    [opciones]="['Guardar', 'Guardar y agregar']"
  ></formulario> 
</div>
<div mat-dialog-actions style="text-align: right; float: right;">
  <button mat-raised-button color="primary" (click)="Cerrar()">Cerrar</button>
</div>
