<div bcolor="primary" class="fondo">
  <div class="cuadro"> 
    <formulario 
      [form]="LForm" 
      [controles]="LControles"
      [diseno]="true"
      (enviar)="Enviar($event)"
      [opciones]="['Registrarse']"
    ></formulario>
  </div>
</div>