.fondo {
    height: 100vh;
    width: 100%;
}

.cuadro {
    background-color: white;
    padding: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 5px 30px 0px #0000006b;
}