<div bcolor="primary" class="fondo">
  <div class="cuadro"> 
    <div class="row">
      <div class="col-sm-6" style="text-align: center;">
        <img style="width: 50%; margin-top: 17px;" src="assets/img/ee_logo.png" alt="Logo Estudiantes Embajadores">
      </div>
      <div class="col-sm-6" style="text-align: center;">
        <img style="width: 50%;" src="assets/img/senl_logo.png" alt="Logo SENL">
      </div>
    </div>
    <formulario 
      [form]="LForm" 
      [controles]="LControles"
      [diseno]="true"
      (enviar)="Enviar($event)"
      [opciones]="['Iniciar']"
    ></formulario>

    <mat-divider style="margin-top: 45px;">
    </mat-divider>
  
    <a style="width: 100%; margin-top: 10px;" mat-raised-button [routerLink]="[ '/Registro' ]">Registrarse</a>
    <a style="width: 100%; margin-top: 10px;" mat-raised-button [routerLink]="[ '/Contrasena' ]">Contraseña olvidada</a>
  </div>
</div>