<h1>Inscripción</h1>
<ng-container *ngIf="Sesion.Usuario.tipo == 1">
  <div style="padding: 1px 10px; background-color: rgb(243, 243, 243); border-radius: 4px;">
    <mat-form-field style="width: 100%;">
      <input matInput placeholder="Buscar usuario" [(ngModel)]="BQ_Usuario" (keyup)="BQ()">
    </mat-form-field>
    <mat-form-field style="width: 100%;">
      <mat-select placeholder="Usuarios encontrados" [(ngModel)]="BQ_UsuarioSelect" name="Usuario">
        <mat-option *ngFor="let Usuario of BQ_Usuarios" [value]="Usuario.id">
          {{Usuario.email}} | {{Usuario.nombres}} {{Usuario.apellidos}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</ng-container>


<div>
  <div style="text-align: center; padding: 10px;">
    <img [ngStyle]="{'width': EscuelaSeleccionada.id == 0 ? '0px' : '40vw'}"
      src="https://agendas.estudiantesembajadores.com/agenda/public/archivos/escuelas/{{EscuelaSeleccionada.id}}.{{EscuelaSeleccionada.foto_ext}}"
      alt="Foto de la escuela seleccionada">
  </div>
  <formulario [form]="BCAForm" [controles]="BCAControles" (enviar)="Submit($event)" (construido)="Construido($event)"
    [opciones]=""></formulario>
  <mat-form-field style="width: 100%;">
    <input matInput [matDatepicker]="dia" placeholder="Día de inscripción" [(ngModel)]="InscripcionDia"
      [matDatepickerFilter]="Fechas.bloqs" [min]="Fechas.min" [max]="Fechas.max">
    <mat-datepicker-toggle matSuffix [for]="dia"></mat-datepicker-toggle>
    <mat-datepicker #dia></mat-datepicker>
  </mat-form-field>

  <button mat-raised-button color="primary" [disabled]="!BCAForm.valid" (click)="Submit(null)">Inscribirse</button>

</div>

<div *ngIf="Sesion.Usuario.tipo != 1">
  <h2>Inscripciones</h2>
  <tabla [datos]="Datos" [paginador]="false" [filtros]="false" [simple]="true" [configuracion]="Configuracion"
    (evento)="Evento($event)" (tabla)="ConfigurarTabla($event)" (accion)="Accion($event)"></tabla>
</div>