<h1 mat-dialog-title>{{DialogDatos.Titulo}}</h1>
<div mat-dialog-content>
{{DialogDatos.Descripcion}}
</div>
<div mat-dialog-actions style="text-align: right; float: right;">
  
  <div *ngFor="let Opcion of DialogDatos.Opciones; let i=index" class="opcion">
    <div class="boton">
        <button mat-raised-button [color]="i == 0 ? 'primary' : 'accent'" (click)="Accion(i)">{{Opcion}}</button>
    </div>
  </div>
  <!-- <button mat-raised-button color="primary" (click)="Cerrar()">Cerrar</button> -->
</div>