<!-- 
<div class="row">
<div class="col-2" style="background-color:firebrick"></div>
<div class="col-8" style="height: 89vh;">
    <hr>
<mat-tab-group>
  <mat-tab label="Registrar">

<mat-expansion-panel>
  <mat-expansion-panel-header class="barra_exp" style="background-color: #e7e7e7!important;">
    Escuela
  </mat-expansion-panel-header>
  <mat-form-field class="">
    <input matInput placeholder="Nombre de la escuela" value="">
    
  </mat-form-field>
  &nbsp;&nbsp;&nbsp;&nbsp;
  <mat-form-field>
    <input matInput placeholder="Espacio para subir foto" value="">
    </mat-form-field>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <mat-form-field>
      <input matInput placeholder="Descripción" value="">
      </mat-form-field>
</mat-expansion-panel>


<mat-expansion-panel>
  <mat-expansion-panel-header class="barra_exp" style="background-color: #e7e7e7!important;">
    Grupo
  </mat-expansion-panel-header>
 <mat-form-field>  <input matInput placeholder="Nombre o número de grupo" value=""></mat-form-field>
  &nbsp;&nbsp;&nbsp;&nbsp;
  <mat-form-field>
    <input matInput placeholder="Descripción" value="">
    </mat-form-field></mat-expansion-panel>

<mat-expansion-panel>
  <mat-expansion-panel-header class="barra_exp" style="background-color: #e7e7e7!important;">
    Materia
  </mat-expansion-panel-header>
    <mat-form-field class="">
      <input matInput placeholder="Nombre de la Materia" value="">
      
    </mat-form-field>
    &nbsp;&nbsp;&nbsp;&nbsp;
 <mat-select>
    <mat-option *ngFor="let hero of heroes" >
      {{hero.value}}
    </mat-option>

  </mat-select>
      &nbsp;&nbsp;&nbsp;&nbsp;
      <mat-form-field>
        <input matInput placeholder="Descripción" value="">
        </mat-form-field>
  </mat-expansion-panel>


  <ul>
      <li *ngFor="let hero of heroes">
    {{hero}}
      </li>
    </ul>
  </mat-tab>
  
  <mat-tab label="Revisar"></mat-tab>
</mat-tab-group>
</div>
<div class="col-2" style="background-color:firebrick">
</div>
</div> -->

<nav mat-tab-nav-bar>
  <a mat-tab-link
      *ngFor="let link of [
        {Path: 'Escuelas', Label: 'Sedes'},
        {Path: 'Materias', Label: 'Curso'},
        {Path: 'Horarios', Label: 'Horarios'},
        {Path: 'Grupos', Label: 'Grupos'},
        {Path: 'Inscripciones', Label: 'Inscripciones'},
        {Path: 'Usuarios', Label: 'Usuarios'}
        ]"
      [routerLink]="link.Path"
      routerLinkActive #rla="routerLinkActive"
      [active]="rla.isActive">
    {{link.Label}}
  </a>
</nav>
<div style="padding: 10px;">
  <router-outlet></router-outlet>
</div>