<nav mat-tab-nav-bar>
  <a mat-tab-link
      *ngFor="let link of [
        {Path: 'Materias', Label: 'Materias'},
        {Path: 'Cursos', Label: 'Cursos'},
        {Path: 'Tipos', Label: 'Tipos de curso'},
        {Path: 'Cambio', Label: 'Tipos de cambio'},
        {Path: 'Usuarios', Label: 'Usuarios'}
        ]"
      [routerLink]="link.Path"
      routerLinkActive #rla="routerLinkActive"
      [active]="rla.isActive">
    {{link.Label}}
  </a>
</nav>
<div style="padding: 10px;">
  <router-outlet></router-outlet>
</div>