<h1 mat-dialog-title>Ocultar columnas</h1>
<div mat-dialog-content>
  <div style="text-align: center">
  <p>Seleccionar columnas para ocultar:</p></div>

  <div style="text-align: center;">
    <ng-container *ngFor="let Campo of DialogDatos.Campos">
      <mat-checkbox color="primary" [(ngModel)]="Campo.Ocultar">{{Campo.Nombre}}</mat-checkbox><br>
    </ng-container>
  </div>

</div>
<div mat-dialog-actions style="text-align: right; float: right;">
  <button mat-raised-button color="primary" (click)="Cerrar()">Cerrar</button>
</div>
