<h1 mat-dialog-title *ngIf="DialogDatos.Multiple">Cargar archivos</h1>
<h1 mat-dialog-title *ngIf="!DialogDatos.Multiple">Cargar archivo</h1>
<div mat-dialog-content>

  <div style="text-align: center; font-size: 14pt;">
      <button mat-stroked-button color="primary" (click)="AgregarArchivos()">
        <mat-icon>add_circle_outline</mat-icon> Agregar
      </button>
  </div>

  
  <input
    type="file"
    #Archivo
    style="display: none"
    (change)="ArchivoAgregado()"
    [attr.multiple]="DialogDatos.Multiple ? true: null"
  />

  <ng-container *ngIf="ListaArchivos.length > 0">
  
      <hr>
      <mat-card *ngFor="let Archivo of ListaArchivos; let i=index" style="margin: 10px;">
        {{Archivo.name}}
        <div class="row">
          <div class="col-12" *ngIf="DialogDatos.Nombres">
            <mat-form-field style="width: 100%">
              <input matInput placeholder="Archivo" 
                [(ngModel)]="ListaArchivos[i].nombre">
            </mat-form-field>
          </div>
          <div class="col-12" *ngIf="DialogDatos.Descripcion">
            <mat-form-field style="width: 100%">
              <textarea matInput placeholder="Descripción" 
                [(ngModel)]="ListaArchivos[i].descripcion"></textarea>
            </mat-form-field>
          </div>
        </div>
        <!-- <mat-icon style="float: right; cursor: pointer;" (click)="EliminarArchivo(i)">remove_circle</mat-icon> -->
      </mat-card>

      <button mat-raised-button style="width: 100%; margin: 10px 0px;" color="primary" (click)="SubirArchivos()">Subir</button>

  </ng-container>
  
</div>
<div mat-dialog-actions style="text-align: right; float: right;">
  <button mat-raised-button color="primary" (click)="Cerrar()">Cerrar</button>
</div>