/* You can add global styles to this file, and also import other style files */
/* @import url('assets/css/bootstrap.min.css'); */
@import url('https://fonts.googleapis.com/css?family=Roboto:100,400,700,900');
@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700');
@import url('assets/css/bootstrap.min.css');
// @import url('assets/scss/material-dashboard.scss');

@import './tema.scss';
// 
body{
    /* font-family: 'Roboto' !important; */
    font-family: 'PT Sans', sans-serif !important;

}

mat-progress-bar[top]{
    position: absolute !important;
    top: 0 !important;
    width: 100vw !important;
    left: 0 !important;
}

button:focus {
    outline: none !important;
}

h1 {
    font-weight: bold;
    color: mat-color($my-app-primary);
    margin: 3px;
}

h2 {
    font-weight: bold;
    color: mat-color($my-app-primary);
    margin: 3px;
    font-size: 1.8em;
    padding: 6px 5px 20px 5px;
}

[mat-tab-nav-bar] a {
    text-decoration: none;
    font-size: 1.1em;
    color: mat-color($my-app-primary);
    border-radius: 3px 3px 0px 0px;
    transition: background-color 0.5s;
}
[mat-tab-nav-bar] a:hover {
    background-color: #e4e4e4;
}
    // h1 {
//     display: table;
//     white-space: nowrap;
// }
// h1:before, h1:after {
//     border-top: 2px solid mat-color($my-app-primary);
//     content: '';
//     display: table-cell;
//     position: relative;
//     top: 0.7em;
// }
// h1:before { 
//     width: 10%;
//     right: 0.4%; 
// }
// h1:after { 
//     width: 80%;
//     left: 0.4%; 
// }
// h1 span {
//     /* to hide the lines from behind the text, you have to set the background color the same as the container */ 
//     background: #fff; 
//     padding: 0 15px; 
// }