@import '~@angular/material/theming';
@include mat-core();

$md-ihs: (
    50 : #e1e5ea,
    100 : #b3bfca,
    200 : #8195a7,
    300 : #4e6a83,
    400 : #284a69,
    500 : #022a4e,
    600 : #022547,
    700 : #8f0e0e,
    800 : #ca7c94,
    900 : #b63a63,
    A100 : #608aff,
    A200 : #2d64ff,
    A400 : #0041f9,
    A700 : #003ae0,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

// $my-app-primary: mat-palette($mat-blue, 900, 200, 900);
$my-app-primary: mat-palette($md-ihs, 900, 800, 700);
$my-app-accent:  mat-palette($md-ihs, 100, 100, 400);
$my-app-warn:    mat-palette($mat-red, 800, 200, 900);

$my-app-theme: mat-light-theme($my-app-primary, $my-app-accent, $my-app-warn);


[bcolor='primary']{
    background-color: mat-color($my-app-primary) !important;
}
[ncolor='primary']{
    color: mat-color($my-app-primary) !important;
}

@include angular-material-theme($my-app-theme);

