.side-nav {
    /* float: left; */
    position: fixed;
    height: 100%;
    color: white;
    padding: 6px;
    transition: left 0.2s;
}
.side-nav i{
    font-size: 32pt;
    cursor: pointer;
}
.side-nav p.menu{
    text-align: left;
}
.side-nav p.mmenu i{    
    margin-top: 10px;
}
.side-nav .menu img{
    width: 190px;
    /* margin-top: -30px; */
    margin-top: -10px;
}
.side-nav.oculta {
    left: -190px;
}
.side-nav.mostrada {
    left: 0px;
}
.side-nav table.menu{
    width: 100%;
    margin-top: 50px;
    font-weight: bold;
}
.side-nav table.menu mat-icon{
    font-size: 24pt;
    text-align: right;
}
.side-nav table.menu td {
    padding: 20px 0px;
}
.side-nav table.menu td.texto {
    padding-left: 15px !important;
}
.side-nav table.menu td.texto a{
    text-decoration: none;
    color: white;
}
.side-nav table.menu td a{
    text-decoration: none;
    color: white;
}
.side-nav table.menu td .mat-icon-button {
    text-align: right;
}
.side-nav div.menu ul {
    list-style: none;
    padding: 1px 2px;
}
.side-nav div.menu ul>a>li {
    padding: 16px 10px;
    font-size: 16pt;
    text-transform: uppercase;   
    line-height: 45px; 
}
.side-nav div.menu ul a li {
    background-color: transparent;
    transition: background-color 0.35s;
}
.side-nav div.menu ul a.seleccionado li {
    background-color: rgb(243, 243, 243);
    border-radius: 4px;
    box-shadow: 0 6px 12px 1px rgba(255, 255, 255, 0.16);
    color: rgb(66, 66, 66);
    font-weight: bold;
}
.side-nav div.menu ul a {
    text-decoration: none;
    color: white;
    cursor: pointer;
}
.side-nav div.menu ul mat-icon {
    float: right;
    font-size: 34pt;
    width: 40px;
}
.side-nav div.menu ul>a>li li {
    padding-top: 14px;
    padding-left: 17px;
    text-transform: capitalize;
    line-height: 45px;
}
.side-nav div.menu .elemento {
    height: 0px;
    overflow: hidden;
    transition: height 0.5s;
    /* visibility: hidden; */
}
.side-nav div.menu .elemento.abierto {
    height: auto;
    /* visibility: visible; */
}
/* .side-nav div.menu ul>a>li li mat-icon {
    font-size: 34pt;
} */

.side-nav-content {
    /* float: left; */
    /* width: 100%; */
    transition: padding-left 0.2s;
}
.side-nav-content.oculta {
    padding-left: 244px;
}
.side-nav-content.mostrada {
    padding-left: 54px;
}
/* .side */

mat-toolbar {
    font-size: 12pt;
    /* width: 50%; */
}
mat-toolbar mat-form-field{
    width: 50%;
}
/* mat-toolbar mat-icon{
    position: absolute;
    right: 18px;
    font-size: 24pt;
    cursor: pointer;
    transition: color 0.2s;
} */
mat-toolbar .cuenta {
    position: absolute;
    right: 0;
    left: auto;
}
mat-toolbar .cuenta mat-icon{
    font-size: 24pt;
    margin-right: 8px;
}
/* mat-toolbar i:hover {
    color:  
} */

.bdiv {
    /* padding-top: 28px; */
    max-height: 100px;
}
.bdiv.padd {
    padding-top: 28px;
}
.bdiv a{
    text-decoration: none;
    color: black;
}
.bdiv .bresultado {
    position: relative;
    background-color: white;
    padding: 5px;
    transition: background-color 0.4s;
    cursor: pointer;
    width: 80%;
    z-index: 100;
    border-top: 1px solid rgb(239, 239, 239);
}
.bdiv .bresultado span {
    font-weight: bold;
    font-size: 10pt;
    text-transform: uppercase;
}
.bdiv .bresultado .ins {
    color: rgb(235, 165, 35);
}
.bdiv .bresultado .alu {
    color: rgb(44, 160, 238);
}
.bdiv .bresultado:hover {
    background-color: rgb(235, 235, 235);
}
mat-toolbar input {
    width: 80%;
    border: 0px solid transparent;
    /* border-radius: 30px; */
    border-radius: 4px;
    /* margin-top: 10px; */
    padding: 7px 14px;
    outline: none;
}
mat-toolbar input:focus {
    /* border: 1px solid black1; */
    box-shadow: 0px 4px 16px -5px rgba(0,0,0,0.1);
}
/* mat-toolbar mat-form-field input {
    border: 1px solid black !important;
    padding: 5px !important;
    border-radius: 10px !important;
}
mat-toolbar mat-form-field label {
    padding: 5px !important;
}
.mat-form-field-appearance-legacy .mat-form-field-underline {

    height: 0px !important;
}
mat-toolbar mat-form-field .mat-form-field-underline {
    height: 0px !important;
} */

div.agregar {
    position: fixed;
    right: 35px;
    bottom: 7px;
}
div.agregar mat-icon {
    font-size: 36pt;
    cursor: pointer;
}  