<!-- <h1 style="text-align: center">Administrador</h1>
<div class="row">

<div class="col-2" style="background-color: firebrick"></div>
<div class="col-8" style="height: 100vh">
<app-bases-incripciones></app-bases-incripciones>
</div>
<div class="col-2" style="background-color: firebrick"></div>

</div> -->

<link href="/assets/css/hamburgers.css" rel="stylesheet">

<div class="side-nav" bcolor="primary" [ngClass]="{'mostrada': SideNav, 'oculta': !SideNav}">
  <p class="menu">
    <a [routerLink]="['/Inicio/Inscribir']"><img src="assets/img/LogoEE_Blanco.png"
        alt="Logo de Estudiantes Embajadores"></a>

    <button style="color: white; margin-top: 15px; padding: 0px; float: right; margin-right: 10px;"
      [ngClass]="{'hamburger hamburger--arrowturn': true, 'is-active': SideNav}" type="button"
      (click)="SideNav = !SideNav">
      <span class="hamburger-box">
        <span class="hamburger-inner"></span>
      </span>
    </button>
  </p>

  <div class="menu">
    <ul>
      <ng-container *ngFor="let Menu of Menu">
        <ng-container *ngIf="(Menu.Admin && Sesion.Usuario.tipo == 1) || (!Menu.Admin)">
          <a *ngIf="Menu.Elementos.length > 0" (click)="Menu.Abierto = !Menu.Abierto">
            <li>
              {{Menu.Titulo}} <mat-icon>{{Menu.Icono}}</mat-icon>
              <div *ngIf="Menu.Elementos.length > 0"
                [ngClass]="{'elemento': true, 'abierto': Menu.Abierto, 'cerrado': !Menu.Abierto}">
                <a *ngFor="let Elemento of Menu.Elementos" routerLinkActive="seleccionado"
                  [routerLink]="[Elemento.Link]" [queryParams]="Elemento.Parametros"
                  (click)="Menu.Abierto = !Menu.Abierto">
            <li>{{Elemento.Titulo}} <mat-icon>{{Elemento.Icono}}</mat-icon>
            </li>
          </a>
  </div>
  </li>
  </a>
  <a *ngIf="Menu.Elementos.length < 1" routerLinkActive="seleccionado" [routerLink]="[Menu.Link]"
    (click)="Menu.Abierto = !Menu.Abierto">
    <li>
      {{Menu.Titulo}} <mat-icon>{{Menu.Icono}}</mat-icon>
    </li>
  </a>
  </ng-container>
  </ng-container>
  </ul>
</div>
</div>
<div class="side-nav-content" [ngClass]="{'mostrada': !SideNav, 'oculta': SideNav}">
  <mat-toolbar>
    <div style="width: 20%"></div>

    <!-- <div style="width: 100%;" class="bdiv" [ngClass]="{'padd': BusquedaResultados.length > 0}"> -->
    <!-- <input type="text" name="buscar" id="buscar" placeholder="ID, institución, nombre, correo..." (keyup)="Busqueda($event)" [(ngModel)]="BusquedaTexto"> -->
    <!-- <ng-container *ngFor="let Resultado of BusquedaResultados">    
          <ng-container *ngIf="Resultado.tipo == 1; else elseTemplate">    
            <a [routerLink]="[ '/Inicio/Institucion', Resultado.id, 'Perfil' ]" (click)="ResultadoSeleccionado()">
              <div class="bresultado">
                  <span class="ins">Institución</span> | {{Resultado.institucion}}
              </div>
            </a>
          </ng-container>
          <ng-template #elseTemplate>    
            <a [routerLink]="[ '/Inicio/Estudiante', Resultado.id, 'Perfil' ]" (click)="ResultadoSeleccionado()">
              <div class="bresultado">
                  <span class="alu">Alumno</span> | {{Resultado.nombres}} {{Resultado.apellidos}}
              </div>
            </a>
          </ng-template>          
        </ng-container> -->
    <!-- </div> -->


    <button mat-icon-button [matMenuTriggerFor]="menuCuenta" class="cuenta">
      <mat-icon color="primary">account_circle</mat-icon>
    </button>
    <mat-menu #menuCuenta="matMenu" overlapTrigger="true" yPosition="above">
      <!-- <a mat-menu-item *ngIf="Sesion.Usuario.tipo == 1" [routerLink]="['/Inicio', 'Bases']">
          <mat-icon>assignment_ind</mat-icon>
          <span>Bases</span>
        </a> -->
      <button mat-menu-item (click)="CerrarSesion()">
        <mat-icon>exit_to_app</mat-icon>
        <span>Cerrar sesión</span>
      </button>
    </mat-menu>

  </mat-toolbar>
  <div style="padding: 27px;">
    <router-outlet></router-outlet>
  </div>
</div>