<div bcolor="primary" class="fondo">
    <div class="cuadro" style="width: 50%;"> 
      <formulario 
        [form]="LForm" 
        [controles]="LControles"
        [diseno]="true"
        (enviar)="Enviar($event)"
        [opciones]="['Cambiar contraseña']"
      ></formulario>
    </div>
  </div>